{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 用户广场{% endblock %}
{%block body%}
<!--header end here-->
<!--about start here-->

    <style>
.sendbox{
    height:280px;
    width: 70%;
    border-style:solid ;
    float: left;
    padding: 10px;
    border-radius: 20px 0 0 20px ;
}
    .userbox{
        padding: 20px;
        height: 280px;
        width: 30%;
border-left-width: 0px;
          border-style:solid ;
        float: left;
border-radius: 0 20px 20px 0;

    }
    .demobox{
        width: 100%;
        min-height: 150px;
         border-style:solid ;
        margin-top: 5px;
        border-radius: 8px;
        padding: 10px;
    }
    .sdt{
        width: 100%;
        height: 80%;
        margin-bottom: 15px;
    }
    .sdb{
        float: right;
        height: 30px;
        width: 60px;
    }



    </style>
<div class="products" style="background: url({% static 'images/backg.png' %});background-size: 100% 100%;padding-bottom: 5%">
	<div class="container" style="background-color: #fff;border-radius: 20px;padding: 10px">
		<div class="row" style="margin: 0">
			<div class="col-12">
                <form method="post" action="{% url 'demp' %}" >
                    {% csrf_token %}
<div class="sendbox">
{% if ison %}
    <textarea type="text" class="sdt" name="dst" style="resize: none;border-radius: 20px 0 0 0 ;padding: 10px;"></textarea>

    <input type="submit" class="sdb" value="发送">
    {% endif %}
{% if ison == False %}
    <div style="text-align: center">此功能在登录后可正常使用</div>
{% endif %}
</div>
                </form><div class="userbox">
                {% if ison == True %}
<img style="background-color: #dff0d8;padding:4px;width: 150px;height: 150px;margin-left: 40px;border-radius: 50%;margin-bottom: 10px" src="/static/images/userhead/{{ user.head }}">
                <div style="padding-left: 30px">
                <a href="{% url 'person' 'dem'%}">{{ username }}</a></div>
                <div style="width: 100%;height: 31px;padding-left:30px">
                <p style="float: left;font-size: 15px">关注：</p><a style="font-size: 15px">{{ fn }}</a></div>
                <div style="width: 100%;height: 31px;padding-left: 30px">
                <p style="float: left;font-size: 15px">粉丝：</p><a style="font-size: 15px">{{ fsn }}</a></div>
                {% endif %}
            {% if ison == False %}
                <p style="width: 80%;margin: 10%;text-align: center">未登录</p>
                <a href="{% url 'login' %}"><button style="width: 80%;margin: 5%">登录</button></a><a href="{% url 'register' %}"><button style="width: 80%;margin: 5%">注册</button></a>
            {% endif %}
            </div>


			</div>

		</div>

		<div class="row products_container" style="margin: 0">
			<div class="col">
                {% for dem in page_list.object_list %}




				<!-- Products -->
<div class="demobox" id="d{{ dem.dmentid }}" >
    <div style="width: 100%;height: 80%;margin-bottom: 20px"><p style="border-radius: 8px ;background-color: #c7ddef60;min-height: 100px;padding: 5px"> {{ dem.dmenttext }}</p></div><div><a style="margin-left:30%" id="changebox{{ dem.dmentid }}" href="javascript:void(0);">评论</a><p style="float: left;">{{ dem.create_time }}</p><a style="float: left;margin-left: 30px"href="{% if dem.username == username %}{% url 'person' 'dem' %}{% endif %}{% if not dem.username == username %}{% url 'singleuser' dem.username %}{% endif %}">{{ dem.username }}</a>

    <a href="javascript:void(0);" class="icon like" id="like{{ dem.dmentid }}">
        {% if  dem.likeed == False %}
        <img src="{% static 'images/like0.png'%}" id="likei{{ dem.dmentid }}" style=" float: right;height: 25px;
        width: 25px;
        background: no-repeat;
        background-size: 25px 25px;">
        {% endif %}
    {% if  dem.likeed == True %}
        <img src="{% static 'images/like1.png'%}" id="likei{{ dem.dmentid }}" style=" float: right;height: 25px;
        width: 25px;
        background: no-repeat;
        background-size: 25px 25px;">
        {% endif %}
        <p id="likenum{{ dem.dmentid }}" style="float: right">{{ dem.likenum }}</p></a>{% if dem.username == username %}
    <a href="javascript:void(0);" style="float: right;margin-right: 20px" id="dele{{ dem.dmentid }}">删除</a>
{% endif %}
<script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $("#dele{{ dem.dmentid }}").click(function(){
            obj = {
                did : {{ dem.dmentid }}
            }
            $.post("{% url 'deld' %}",obj,function(i){

                if(i.success){
                    document.getElementById('d{{ dem.dmentid }}').style.display="none";
                    alert('删除成功');


                }else{

                    alert('操作失败')
                }
            })
        })
    </script></div>

<div style="width: 100%;display: none;transition: 0.6s" id="combox{{ dem.dmentid }}">
<div style="width: 80%;height:2px;border: solid 1.8px #737373;margin: 10px 10%;border-radius: 60%"></div>
    <div style="width: 95%;background-color: white;border-radius: 20px;margin:0 auto;padding: 20px">

   {% if ison %}
       <div style="width: 100%">
       <form method="post" action="{% url 'addc' dem.dmentid %}">
           {% csrf_token %}
    <textarea type="text"  name="dst" style="resize: none;border-radius: 20px;padding: 10px;width: 90%;height: 150px;margin-bottom: 20px"></textarea>

    <input type="submit" style="float: right" value="发送"></form></div>
    {% endif %}
{% if ison == False %}
    <div style="text-align: center">此功能在登录后可正常使用</div>
{% endif %}
{% for comment in dem.comlist %}
    <div style="width: 100%" id="c{{ comment.cid }}">
        <div style="width: 100%;;margin-bottom: 20px"><p style="border-radius: 8px ;background-color: #c7ddef60;min-height: 50px;padding: 5px"> {{ comment.ctext }}</p>
        <p style="float: right;">{{ comment.create_time }}</p><a style="float: right;margin-left: 30px"href="{% if comment.user.username == username %}{% url 'person' 'dem' %}{% endif %}{% if not comment.user.username == username %}{% url 'singleuser' dem.username %}{% endif %}">{{ comment.user.username }}</a>
     {% if comment.user.username == username %}   <a href="javascript:void(0);" style="float: right;margin-right: 20px" id="delec{{ comment.cid }}">删除</a>{% endif %}</div>
<script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $("#delec{{ comment.cid }}").click(function(){
            obj = {
                did : {{ comment.cid }}
            }
            $.post("{% url 'delc' %}",obj,function(i){

                if(i.success){
                    document.getElementById('c{{ comment.cid }}').style.display="none";
                    alert('删除成功');


                }else{

                    alert('操作失败')
                }
            })
        })
    </script>

    </div>
{% endfor %}
</div>
</div>
</div>
                    <script>

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $("#like{{ dem.dmentid }}").click(function(){
            obj = {
                did : {{ dem.dmentid }}
            }
            $.post("{% url 'like' %}",obj,function(i){

                if(i.success){
                    if(i.type=="1"){
                        document.getElementById('likenum{{ dem.dmentid }}').innerHTML=i.likenum;
                        document.getElementById('likei{{ dem.dmentid }}').src="{% static 'images/like1.png'%}";

                        alert('点赞成功');}else {document.getElementById('likenum{{ dem.dmentid }}').innerHTML=i.likenum;
                        document.getElementById('likei{{ dem.dmentid }}').src="{% static 'images/like0.png'%}";
                        alert('取消点赞成功')}


                }else{

                    alert('操作失败')
                }
            })
        })
    </script>
<script>
$("#changebox{{ dem.dmentid }}").click(function(){
    element=document.getElementById('combox{{ dem.dmentid }}')
	if (element.style.display.match("block"))
	{
		element.style.display="none";

	}
	else
	{
		element.style.display="block";
	}
})
</script>
{% endfor %}
			</div>

		</div>

	<div class="row page_num_container">
			<div id="pagination">
    <ul class="pager">
    {% if page_list.has_previous %}
    <li><a href="?page={{ page_list.previous_page_number }}">&laquo;上一页</a></li>
    {% else %}
    <li>&laquo;上一页</li>
    {% endif %}
     <li>{{ page_list.number }}/{{ page_list.paginator.num_pages }}</li>
    {% if page_list.has_next %}
      <li><a href="?page={{ page_list.next_page_number }}">下一页 &raquo;</a></li>
    {% else %}
      <li>下一页 &raquo;</li>
    {% endif %}
   </ul>
</div>
		</div>

	</div>
</div>
	<!-- Sidebar Right -->


<!--about end here-->
<!--footer start here-->
{%endblock body  %}