{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 个人中心 {% endblock %}
{%block body%}
<!--header end here-->
<!--about start here-->
    <div style="margin-left: 6%;margin-right: 6%;margin-top: 6%;margin-bottom: 10%">
    <div class="row" style="    margin-left: 10%;margin-right: 10%;margin-top: 2%;margin-bottom: 2%">
        <div class="col-12">

            <style>
                .sendbox{
                    height:280px;
                    width: 70%;
                    border-style:solid ;
                    float: left;
                    padding: 10px;
                }
                .userbox{
                    padding: 20px;
                    height: 280px;
                    width: 30%;
                    border-style:solid ;
                    float: left;


                }
                .demobox{
                     width: 100%;
        height: 200px;
         border-style:solid ;
        margin-top: 5px;
        border-radius: 8px;
        padding: 10px;
                }
                .sdt{
                    width: 100%;
                    height: 80%;
                    margin-bottom: 15px;
                }
                .sdb{
                    float: right;
                    height: 30px;
                    width: 60px;
                }
                .likei{

                    float: right;margin-right: 20px
                ;height: 25px;
                    width: 25px;
                    background: url({% static 'images/like0.png'%}) no-repeat;
                    background-size: 25px 25px;
                }



                .daohangd{
                    width: 25%;position: relative;float: left;padding-left: 10px;
                    padding-right: 10px;

                }
                .daohangbutton {
                    display: inline-block;
                    border-radius: 4px;

                    border: none;
                    width: 100%;padding: 10px;font-size: 30px;
                    background-color: #e5cd6880;
                    color: #000;
                    transition: all 0.5s;
                    cursor: pointer;
                    margin: 5px;
                }

                .daohangbutton span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;
                }

                .daohangbutton span:after {
                    content: '»';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

                .daohangbutton:hover span {
                    padding-right: 25px;
                }

                .daohangbutton:hover span:after {
                    opacity: 1;
                    right: 0;
                }
            </style>

            <a href="{% url 'person' 'dem' %}"><div class="daohangd"><button class="daohangbutton"><span>动态</span></button></div></a>
            <a href="{% url 'person' 'sc'%}"><div class="daohangd"><button class="daohangbutton"><span>购物车</span></button></div></a>
            <a href="{% url 'person' 'list'%}"><div class="daohangd"><button class="daohangbutton"><span>订单</span></button></div></a>
            <a href="{% url 'infor'%}"><div class="daohangd"><button class="daohangbutton"><span>修改信息</span></button></div></a>



        </div>

    </div>

    <div class="col">
        {% if type == "dem" %}





            <div class="row products_container">
                <div class="col">
                {% if demn > 0 %}
                    {% for dem in page_list.object_list %}




                        <!-- Products -->
                        <div class="demobox"><div style="width: 100%;height: 80%;margin-bottom: 20px"><p>{{ dem.dmenttext }}</p></div><a style="margin-left:20px">{{ dem.username }}</a><p style="float: left;">{{ dem.create_time }}</p>

                            <a href="javascript:void(0);" class="icon like" id="like{{ dem.dmentid }}"><img class="likei"><p id="likenum{{ dem.dmentid }}" style="float: right">{{ dem.likenum }}</p></a></div>

                    {% endfor %}
                    {% endif %}
                {% if demn == 0 %}
                    <a href="{% url 'demp' %}" style="color: #00000010;font-size: 150px;text-align: center">你还没有发表过动态</a>
                    {% endif %}
                </div>

            </div>

            <div class="row page_num_container">
                <div id="pagination">
                    <ul class="pager">
                        {% if page_list.has_previous %}
                            <li><a href="?page={{ page_list.previous_page_number }}">&laquo;上一页</a></li>
                        {% else %}
                            <li>&laquo;上一页</li>
                        {% endif %}
                        <li>{{ page_list.number }}/{{ page_list.paginator.num_pages }}</li>
                        {% if page_list.has_next %}
                            <li><a href="?page={{ page_list.next_page_number }}">下一页 &raquo;</a></li>
                        {% else %}
                            <li>下一页 &raquo;</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}


        {% if type == "sc" %}
            <script language="javascript">
function save(){
    document.formcar.action="{% url 'shopcar' %}";
    document.formcar.submit();
}
function send(){
    document.formcar.action="{% url 'oder' %}";
    document.formcar.submit();
}
</script>
        <div style="min-height: 700px">
    <form style="margin-left: 8%;margin-right: 8%;margin-top: 3%;margin-bottom: 4%;border: #d2992b solid 3px;border-radius: 30px" method="post" name="formcar" action="">
    {% csrf_token %}
    <div style="width: 100%;height: 40px;background:#d2992b ;padding: 8px;border-radius: 25px 25px 0 0 " >
        <p style="float: left;width: 30%;margin-right: 10%;">商品</p>
        <p style="float: left;margin-right: 60px">数量</p>
        <p style="float: right;margin-right: 160px">单价</p>
    </div>

    {% for good in goodlist %}

        <input style="visibility: hidden;position: absolute" name="gid" value="{{ good.gid }}">
        <div style="width: 100%;height: 40px;padding: 8px;border-bottom: #000 solid  1px;" >
        <p style="float: left;width: 23%;margin-right: 3%;	white-space: nowrap;/*强制在一行显示*/
	text-overflow:ellipsis;/*设置超出内容显示...*/
	overflow: hidden;">{{ good.gn }}</p><p style="float: left">|</p><input type="number" value="{{ good.gnum }}" style="float: left;margin-right: 12%;margin-left: 12%" name="goodnum" min="1"><p style="float: left">|</p><p style="float: right;margin-right: 160px;text-align: center">{{ good.gp }}</p><a href="" id="dei{{ good.gid }}"><img style="right: 15%;position: absolute;height: 20px" src="{% static 'images/delet.png' %}"></a></div>
        <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $("#dei{{ good.gid }}").click(function(){
            obj = {
                gid : {{ good.gid }},ison:'{{ ison }}'

            }
            $.post("{% url 'delgood' %}",obj,function(i){
               if('{{ ison }}' == 'True' ){
                if(i.success){
                    alert('成功从购物车中移除')
                }else{
                    alert('失败')
                }}
               else {alert(('请先登录'))}
            })
        })
    </script>
    {% endfor %}
    <div style="width: 100%;padding: 8px">
    <input style="visibility: hidden;position: absolute" name="ap" value="{{ ap }}">收货地址：<input name="adres" value="{{ adres }}" style="margin-right: 10px;width: 47%">收货电话：<input name="phone" value="{{ phone }}" style="width: 22%">
    <input type="submit" value="保存" onclick="save()">
    <input type="submit" value="提交" onclick="send()"></div>
    </form>
        </div>
        {% endif %}
        {% if type == "list" %}
            {% for od in alllist %}
                <div style="width: 100%;border-style: solid;margin-bottom: 10px;border-radius: 30px;padding: 20px;background: #d5851220">
                    <div style="width: 100%;height:40px;">
                        <p style="width: 33%;float: left">订单号:{{ od.oderid }}</p><p style="width: 33%;float: left">时间:{{ od.time }}</p><p style="width: 34%;float: left">总价:{{ od.price }}</p></div>
                    <div style="width: 100%;height: 30px;" > <p style="width: 30%;margin-right: 2%;float: left">收货地址：{{ od.useradress }}</p><p style="width: 20%;float: left">收货电话：{{ od.phone }}</p><p style="margin-right: 13%;margin-left: 3%;width: 9%;float: left">{% if od.oders == "未发货" %}未发货{% endif %}{% if od.oders == "已发货" %}已发货{% endif %}</p><p type="submit" style="border-radius: 15px" value="提交"></p></div>
                    <div style="width: 100%">
                    {% if od.type == '商品'%}
                        {% for l in od.oderitem %}
                            <div style="width: 100%;
    height: 25px;{% if l.bk == 1 %}background: #0d0d0d10{% endif %}">
                                <p style="float: left;
    width: 30%;
    margin-right: 10%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;">商品名:{{ l.gname }}</p><p style="    float: left;
    margin-right: 60px;">数量:{{ l.gnum }}</p><p style="    right: 30%;
    position: absolute;">价格:{{ l.gp }}</p></div>
                        {% endfor %}{% endif %}
                    {% if od.type == '宠物' %}
                        <img src="/static/images/pet/{{ od.oderitem.ptn }}{{ od.oderitem.ptid }}.png" style="border-radius: 20px;width: 60px;height: 60px;"><div style="float: left;margin-right: 50px"><p style="font-size: 45px">宠物名：{{ od.oderitem.ptn }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宠物种类：{{ od.oderitem.sp }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宠物性别：{{ od.oderitem.pts }}</p></div>
                    {% endif %}</div></div>
            {% endfor %}
        {% endif %}
    </div></div>
{% endblock %}