

<html>

<head>

<title>正在跳转</title>

<meta http-equiv="Content-Language" content="zh-CN">

<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">



</head>

<body>

</body>

</html>

<html><head><title>正在跳转</title></head>

<body>
<div class="box">
    <h2>剩余时间：<span class="clock">10</span>秒</h2>
</div>
<script>
	var t = 10;
	var time = document.getElementsByClassName("clock")[0];

	function fun() {
		t--;
		time.innerHTML = t;
		if(t <= 0) {
            // location.href = "https://www.baidu.com";
            document.location = 'http://127.0.0.1:8000/index/';
        }
	}
	var inter = setInterval("fun()", 1000);
</script>


</body>

</html>